#register-bg{
  background-image: url("../images/bg2web.png");
}
#register-B{
  color: #a6f7d4;
}
#register-A1{
  color: #43efce;
}
#register-R{
  color: #05ceb6;
}
#register-C{
  color: #2daebe;
}
#register-A2{
  color: #237da7;
}
#register-M{
  color: #2daebe;
}
#register-P{
  color: #05ceb6;
}
h1{
  color:white;
}
.uk-article-meta{
  color:white;
}
.uk-text-left{
  uk-article{

  }
}
